{# Carousel #}
<section class="section-carousel">
  <h2 class="carousel-title heading-secondary">Nos bonbons à la une !</h2>
  <div class="carousel-container">
    <div class="slide">
      <img src="img/sucettes.jpg" alt="Sucettes rondes colorées" class="slide-img xl-img ">
      <div class="slide-text-box">
        <p class="slide-title">Notre gamme de sucettes multicolores</p>
        <p class="slide-description">
          1. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, maiores nesciunt culpa commodi impedit modi. Corporis, dolorum! Excepturi atque quod, ipsa delectus inventore numquam quam rerum facere eius quasi nesciunt!<p>
        <a href="#" class="btn btn--full">Découvrir</a>
      </div>
    </div>
    <div class="slide">
      <img src="img/friandises.jpg" alt="Sucettes rondes colorées" class="slide-img xl-img ">
      <div class="slide-text-box">
        <p class="slide-title">Des friandises au goût exquis</p>
        <p class="slide-description">
          2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, maiores nesciunt culpa commodi impedit modi. Corporis, dolorum! Excepturi atque quod, ipsa delectus inventore numquam quam rerum facere eius quasi nesciunt!<p>
        <a href="#" class="btn btn--full">Découvrir</a>
      </div>
    </div>
    <div class="slide">
      <img src="img/bonbons.jpg" alt="Sucettes rondes colorées" class="slide-img xl-img ">
      <div class="slide-text-box">
        <p class="slide-title">Nos bonbons acidulés</p>
        <p class="slide-description">
          3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, maiores nesciunt culpa commodi impedit modi. Corporis, dolorum! Excepturi atque quod, ipsa delectus inventore numquam quam rerum facere eius quasi nesciunt!<p>
        <a href="#" class="btn btn--full">Découvrir</a>
      </div>
    </div>
    <button class="btn--carousel btn--left"><ion-icon name="chevron-back-outline"></ion-icon></button>
    <button class="btn--carousel btn--right"><ion-icon name="chevron-forward-outline"></ion-icon></button>
    <div class="dots">
      <button class="dot">&nbsp;</button>
      <button class="dot">&nbsp;</button>
      <button class="dot">&nbsp;</button>
    </div>
  </div>
</section>