{# Hero #}
<section class="section-hero">
  <div class="hero-container">
    <div class="hero-text-box">
      <h1 class="heading-primary">Bienvenue sur notre boutique de friandises</h1>
      <p class="hero-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, perspiciatis? Voluptatem itaque praesentium, eaque ratione neque sequi quis, sapiente saepe vel esse repellendus perferendis iste ab nostrum labore accusantium Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      <a href="#" class="btn btn--full margin-right-sm">Acheter en ligne</a>
      <a href="#" class="btn btn--outline">En savoir plus &rarr;</a>
    </div>
  </div>
</section>