<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur le site e-commerce{% endblock %}</title>
        {% block metadescription %}
            <meta name="description" content="Description du site e-commerce">
        {% endblock %}
        
        {# Affichage du favicon du site #}
        <link rel="icon" type="image/png" href="{{asset('/img/logo.png')}}">
        
        {# Balise meta viewport #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Ionicons #}
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        
        {# Lien vers les feuilles de style CSS #}
        <link rel="stylesheet" href="{{asset('/css/general.css')}}">
        <link rel="stylesheet" href="{{asset('/css/style.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body>
        {# Inclusion du header #}
        {% include "partials/_header.html.twig" %}
        
        {# Affichage des messages flash #}
        {% include "partials/_flashbag.html.twig" %}
        
        {# Affichage du body #}
        {% block body %}{% endblock %}

        {# Inclusion du footer #}
       
    </body>
</html>
