{# Email de réinitialisation de mot de passe #}

<h1>Réinitialisation de votre mot de passe</h1>
<p>Bonjour <strong>{{user.firstname}} {{user.lastname|upper}}</strong>. Vous avez effectué une demande de réinitialisation de votre mot de passe pour accéder à votre compte d'administration. Veuillez cliquer sur le lien ci-dessous :</p>
{# Lien vers la route de réinitialisation avec une url absolue et le token en paramètre #}
<p><a href="{{absolute_url(path('app_reset_password', {'resetToken': resetToken}))}}">Réinitialiser mon mot de passe</a></p>

